<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="./assets/imgs/logo.png">
          <h2>Urban<span>sol</span></h2>
        </div>
        <div class="close" id="close-btn">
          <mat-icon>close </mat-icon>
        </div>
      </div>

      <div class="sidebar">
        <a href="#" class="active">
          <mat-icon class="span">grid_view</mat-icon>
          <h3>Dashboard</h3>
        </a>
        <a href="#">
          <mat-icon class="span">person_outline</mat-icon>
          <h3>Costumers</h3>
        </a>
        <a href="#">
          <mat-icon class="span">receipt_long</mat-icon>
          <h3>Orders</h3>
        </a>
        <a href="#">
          <mat-icon class="span">insights</mat-icon>
          <h3>Analytics</h3>
        </a>
        <a href="#">
          <mat-icon class="span">mail_outline</mat-icon>
          <h3>Messages</h3>
          <span class="message_count">26</span>
        </a>
        <a href="#">
          <mat-icon class="span">inventory</mat-icon>
          <h3>Products</h3>
        </a>
        <a href="#">
          <mat-icon class="span">report_gmailerrorred</mat-icon>
          <h3>Reports</h3>
        </a>
        <a href="#">
          <mat-icon class="span">settings</mat-icon>
          <h3>Settings</h3>
        </a>
        <a href="#">
          <mat-icon class="span">add</mat-icon>
          <h3>Add Products</h3>
        </a>
        <a href="#">
          <mat-icon class="span">logout</mat-icon>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!----------------------------End Aside---------------------------->
    <main>
      <h1>Dashboard</h1>
    </main>
  </div>
</body>

</html>
